Options -MultiViews
RewriteEngine On
RewriteBase /expense/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /expense/index.html [L]
